[submodule "rvc_infer"]
	path = rvc_infer
	url = https://github.com/RVC-Project/Retrieval-based-Voice-Conversion-WebUI.git
[submodule "rvc-gpu-server"]
	path = rvc-gpu-server
	url = git@github.com:haamis/rvc-gpu-server.git
